body{
    background-color: blue;
}
.back-img{
    background: url("../HD.jpeg");
    width: 200px;
    height: 200px;
}

/* background position + repeat */
.posisi{
    background: url("../FOTO.jpeg");
    width: 100%;
    height: 100%;
    background-position: center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}